In [3]:
import pandas as pd
import numpy as np

from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

import matplotlib.pyplot as plt

# The First Dataset

In [15]:
df1 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data',header=None)

X = df1.iloc[:,0:3]
y = df1.iloc[:,3]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.5)

In [14]:
model1 = SVC(max_iter=1500)
model1.fit(X_train,y_train)
predicted = model1.predict(X_test)
print(accuracy_score(predicted,y_test))
confusion_matrix(predicted,y_test)

0.7450980392156863

array([[111,  34],
       [  5,   3]])

# The Second Dataset

In [21]:
df2 = pd.read_csv('./data/heart.csv')

X = df2.iloc[:,0:13]
y = df2.iloc[:,13]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

df2

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [22]:
model2 = SVC(max_iter=1500)
model2.fit(X_train,y_train)
predicted = model2.predict(X_test)
print(accuracy_score(predicted,y_test))
confusion_matrix(predicted,y_test)

0.6923076923076923

array([[18,  7],
       [21, 45]])

# The Third Dataset